
.info_client{ display: flexbox; width: 500px; position: absolute; 
    background-color: powderblue; color: rgb(25, 43, 95);
    opacity: 1; cursor: pointer; border: solid 1px royalblue;
    border-radius: 8px; margin: 20px; padding: 30px; 
}
.id{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.prenom_client{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.nom_client{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.datenaiss{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.cni{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.adresse_client{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.tel_client{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 


}
.email_client{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.profession{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.statut_client {
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 
}
.salaire{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}

.info_employeur{ display: flexbox; width: 500px; right: 10%; position: absolute; 
    background-color: powderblue; color: purple;
    opacity: 1; cursor: pointer; border: solid 1px royalblue;
    border-radius: 8px; margin: 20px; padding: 30px; 
}
.dénomination{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.raison_social{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.numero_identification{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.adresse_employeur{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 
}

.info_compte{ display: flexbox; width: 500px; right: 10%; position: absolute; top: 50%;
    background-color: powderblue; color: salmon;
    opacity: 1; cursor: pointer; border: solid 1px royalblue;
    border-radius: 8px; margin: 20px; padding: 30px; 
}
.type_de_compte{ opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.depot_initial{ opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.soumettre


.numero_agence{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 

}
.numero_compte{opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 
}
.cle_rib{
    opacity: 1; cursor: pointer; border: solid 1px gray;
    border-radius: 5px; margin: 20px; padding: 5px; 
}
